script(type="text/x-template")#slider-container
  .works-slider
    display(:currentWork="currentWork" :works="works" :currentPhoto="currentPhoto" @change-photo="changePhoto")
    info(
      :currentWork="currentWork"
    )

script(type="text/x-template")#slider-display
  .works-slider__pics(:data-slide="currentPhoto +1")
    .works-slider__pics-content
      img(:src="currentWork.photo").works-slider__fullpic
      thumbs(:works="works" :currentWork="currentWork" @change-photo="changePhoto" )
      btns(:currentWork="currentWork" :currentPhoto="currentPhoto" @change-photo="changePhoto")

script(type="text/x-template")#slider-thumbs
  ul.works-slider__thumbs
    thumbsItem(v-for="work in works" :key="work.id" :work="work" :currentWork="currentWork" @change-photo="changePhoto")

script(type="text/x-template")#slider-thumbs-item
  li.works-slider__thumb-item(
    :class = "{active : currentWork.id === work.id}")
    .works-slider__thumb-link
      img(:src="work.photo" @click="handlePhoto")

script(type="text/x-template")#slider-btns
  .works-slider__buttons
    button(@click="handlePhotoUp").works-slider__btn.works-slider__btn_next
    button(@click="handlePhotoDown").works-slider__btn.works-slider__btn_prev

script(type="text/x-template")#slider-info
  .works-slider__data
    tags
    .works-slider__title {{currentWork.title}}
    .works-slider__desc 
      p {{currentWork.desc}}
    .works-slider__link 
      a(:href="currentWork.link").iconed-link Посмотреть сайт

script(type="text/x-template")#slider-tags
  ul.works-slider__tags
    - var tags = ['HTML', 'CSS', 'JavaScript'];
    each item in tags
      li.works-slider__tag-item 
        .tag #{item}

